<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding A New Department</title>
</head>
<body>
<div style="color: #ff0000;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
</div>
    <form action="/addDepartment", method="POST">
    <h1>Adding Department</h1>
    <p>You must fill all fields or your changes will not be saved.</p>
        <label>Pick a Hospital:</label>
        <input list="Hospital-List" id="Hospital" name="Hospital" />
        <datalist id="Hospital-List" value="Type Hospital"><br>
        {% for hosp in Hospital %}
            <option value="{{hosp[0]}}" selected>{{hosp[0]}}</option>
        {% endfor %}
        </datalist><br>

        Department Name: <input type="text" name="Department_Name"><br>
        Ranking: <input type="text" name="Ranking"><br>
        Wait Times: <input type="text" name="Wait_Times"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>